# ملفات البيئة الحساسة
.env
.env.*

# قواعد البيانات
*.db
*.sqlite3

# ملفات مؤقتة من Python
pycache/
*.py[cod]
*$py.class

# ملفات النظام
.DS_Store
Thumbs.db

# ملفات التصدير
*.xlsx
*.xls

# مجلدات الملفات المرفوعة
files/

# مجلدات بيئة التطوير
.venv/
env/